*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", "sans-serif";
    min-height: 100vh;
    background: radial-gradient(#ffffff, #1a1919);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

h1 {
    color: #140101;
    margin: 16px;
}

img {
    height: 256px;
    width: 256px;
    margin: 16px;
}

h2 {
    margin: 16px;
    color: #140101;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    outline: none;
    color: white;
    background-color: #140101 ;
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 50%;
    cursor:pointer;
    border-bottom: 1px solid #fff;
    margin: 16px;
}

button:hover{background-color:rgba(255,204,0,0.8);}

button:active{position:relative;top:2px;}